@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    color: white;
    background: #080808;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-align: center;
    text-shadow: 3px 5px 8px #000000;
    margin: 0;
    min-height: 100vh;
    height: 100%;
}

header {
    background-color: #040404;
    padding: 0;
    margin: 0;
}

header img {
    width: 100%;
}

a svg {
    width: 30pt;
    height: 30pt;
    filter: drop-shadow(3px 5px 8px #000000);
    display: inline-block;
    vertical-align: middle;
    transition-duration: 1s;
}

a svg:hover {
    width: 25pt;
    height: 25pt;
    filter: drop-shadow(0px 0px 8px #a0a0a0);
}

.itch-frame:hover {
    transition-duration: 1s;
}

.itch-frame:hover {
    transform: scale(105%);
    filter: drop-shadow(0px 0px 8px #a0a0a0);
}

header a {
    text-decoration: none;
}

header a svg {
    width: 25pt;
    height: 25pt;
    filter: drop-shadow(3px 5px 8px #000000);
    display: inline-block;
    vertical-align: middle;
    transition-duration: 1s;
}

header a svg:hover {
    width: 35pt;
    height: 35pt;
    fill: red;
}

header a svg:hover path {
    fill: red;
}

p {
    padding: 1ch;
}

p img {
    width: 70%;
}

a {
    color: red;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: darkred;
}

ul {
    margin: auto 35%;
}

h1, h2 {
    font-weight: 400;
}

.header-div {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-items: left;
}

.header-div h1 {
    margin-left: 20pt;
}

.header-div p {
    margin: 0 auto;
}
